<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thelawhouse">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name=".Activity.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ShowAppoinmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditAppoinmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditCaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <!--
         <provider
             android:name="android.support.content.FileProvider"
             android:authorities="${applicationId}.provider"
             android:exported="false"
             android:grantUriPermissions="true">
             <meta-data
                 android:name="android.support.FILE_PROVIDER_PATHS"
                 android:resource="@xml/provider_paths" />
         </provider>
        -->
        <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Activity.AddNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegistrationAdminActivity"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Activity.GMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddSegmentLawAcitivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddUsefullLinkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CustomCalenderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.VerifyOtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NewPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ForgotPWDActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>